[week-day="1"] {
	fill: #F5808E;
}
[week-day="2"] {
	fill: #5ACDA0;
}
[week-day="3"] {
	fill: #B53B9B;
}
[week-day="4"] {
	fill: #F3B964;
}
[week-day="5"] {
	fill: #E4A8D2;
}
[week-day="6"] {
	fill: #F8F57C;
}